<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/Css/signup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kapakana:wght@300..400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="static/Images/melofy-icon-only.png"
      type="image/png"
      sizes="32x32"
    />
    <title>Melofy - Feel the Rhythm</title>
  </head>
  <body>
    <div id="div-left">
      <a href="/" style="text-decoration: none;">
        <img
          id="logo"
          class="fade-in-1"
          src="static/Images/Melofy-Transparent-Logo.png"
          alt="Melofy-Logo"
          href="/"
        />
      </a>
      <h1 class="fade-in-2">Feel the rythm</h1>
      <div id="other-signup" class="fade-in-2">
        <div class="circle">
          <img
            src="static/Images/google.svg"
            alt="Google"
          />
        </div>
        <div class="circle">
          <img
            src="static/Images/instagram2.svg"
            alt="Instagram"
          />
        </div>
        <div class="circle">
          <img
            src="static/Images/instagram2.svg"
            alt="Spotify-Logo"
          />
        </div>
      </div>
      <div id="divider" class="fade-in-2">
        <div id="section"></div>
        <h2>Or</h2>
        <div id="section"></div>
      </div>
      <form id="newsletter-form" class="fade-in-3"> </form>
        <input class="fade-in-3" type="email" placeholder="name@example.com" required />
        <button id="fade-in-3" type="submit" class="sign-up">Sign Up</button>
      </form>
      <h3 class="fade-in-3">Already have an account? <a>Sign in</a></h3>
    </div>
    <div id="div-right">
      <script
        src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js"
        type="module"
      ></script>

      <dotlottie-wc
        id="fade-in-4"
        src="https://lottie.host/d8cf5438-299c-44a6-9808-f858d38ab1c5/rrn4BQaaRL.lottie"
        style="width: 600px;height: 600px"
        autoplay
        loop
      ></dotlottie-wc>
    </div>
  </body>
</html>
